# This project uses react-app-env package for maintaining multiple .env files for
# multiple environments. e.g. .env.client, .env.staging
#
# To add a custom .env.custom file, first create it with the required variables specific
# for the environment. Note that REACT_APP_ prefix is no longer needed as this package
# will automatically add that but you need to add REACT_APP_ prefix while calling the
# variable from inside the app.
#
# To have a shortcut to generating build of the app, you can add your custom env to the
# package.json as: "build:staging": "react-app-env --env-file=.env.staging build" and simply run:
# yarn build:staging
#
# Look at the package.json for more information

# Environment
ENV=production
DEBUG_LEVEL=debug

# Your Example Url
API_BASE_URL="http://example.test/api"
API_BASE_IMAGE_URL="http://example.test/images"
DASHBOARD_URL="http://example.test/dashboard"