@media only screen and (max-width: 767px){
    body{
         overflow-y: auto;
         background: #fafafa;
    }
	.content-wrapper {
    	 padding: 0 15px 0 20px;
	}
	.right-sec{
		display: block;
	}
	h5{
       margin-bottom: 10px;
    }

    h5.obvious-h5 {
    line-height: 1.2;
    }
    #accordion .content-wrap{
        margin-bottom: 0;
    }
    .news-block h5 {
         font-size: 15px;
    }
     p, .entry-content, .content-wrap {
         margin: 0 0 25px;
    }
     p:last-of-type{
         margin-bottom: 0;
    }
    .btn-wrap button.btn,
	.step-one a.btn{
    	font-size: 12px !important;
		padding: 8px 43px !important;
    }
	.step-one a.btn{
		margin-top: 15px;
    }
    .news-block h6, .news-block h5, .news-block ul{
         padding-left: 129px;
    }
    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:focus {
         background: none;
         color: #9d9d9d;
    }
    @media (hover: hover) {
        .navbar-inverse .navbar-nav > .active > a:hover {
            background: none;
            color: #9d9d9d;
        }
    }
    .navbar-inverse .navbar-collapse{
         border: 0;
         box-shadow: none;
         background: #3b2b3b;
         top: -2px;
         position: relative;
         padding: 15px 15px 5px;
    }
    .navbar-inverse .navbar-collapse div a{
         color: #bf696e;   
    }
    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:focus{
         background: #4b384b;
    }
     nav.navbar-inverse{
         height: 70px;
         position: relative;
         margin-bottom: 0;
    }
     .navbar-nav {
         margin: 0 -15px;
    }
     .navbar-inverse .navbar-toggle {
         border: 0;
    }
     .navbar-toggle {
         padding: 18px 0;
    }
    .navbar-inverse {
         background-color: #4b384b;
         border-color: #4b384b;
    }
     .navbar-toggle .icon-bar {
         width: 32px;
         height: 4px;
    }
     .navbar-inverse .navbar-toggle:focus,
     .navbar-inverse .navbar-toggle.active,
     .navbar-inverse .navbar-toggle:active,
     .navbar-inverse .navbar-toggle.focus{
         background: none;
    }
    @media (hover: hover) {
        .navbar-inverse .navbar-toggle:hover {
            background: none;
        }
    }
     .news-block img {
         margin-bottom: 0;
    }
     .panel-heading {
         padding: 10px 25px;
    }
     .progress{
         margin-bottom: 0;
    }
    header{
         background: #4b384b;
         padding: 15px 0;
    }
    .tablet-i{
         color: #ffffff;
         font-size: 28px;
         cursor: pointer;
         position: relative;
         top: 5px;
    }
    .nav > li > a > img {
         width: 45px;
         margin-bottom: 10px;
    }
    .navbar-nav > li > a{
         font-weight: 500;
         text-transform: uppercase;
    }
    .tab-content .tab-pane{
         display: none;
    }
    .tab-content .tab-pane.active{
         display: block;
    }
    .content-block ul.nav-tabs{
         background: #4b384b;
         border-bottom: 0;
    }
    .content-block ul.nav-tabs .progress-bar{
         box-shadow: none;
         background: none;
         display: block;
         float: none;
         margin: 0 auto;
    }
    .content-block .nav-tabs > li{
         width: 33.33%;
         text-align: center;
    }
    .content-block .nav-tabs > li > a{
         color: #c4c2c7;
         text-transform: capitalize;
         padding: 25px 0;
         font-size: 12px;
         height: 135px;
         transition-property: background, color;
         transition-duration: 0.5s;
    }
    .content-block .nav-tabs > li.active a{
         background: #3c2b3b;
         border-color: #3c2b3b;
         border-radius: 0;
    }
    .content-block .nav-tabs > li.active a .progress-bar div span{
         background: #3b2b3b;
    }
    .content-block .nav-tabs > li > a:active, .content-block .nav-tabs > li > a.active, .content-block .nav-tabs > li > a.focus, .content-block .nav-tabs > li > a:focus{
         background: #3c2b3b;
         border: #3c2b3b;
         color: #c4c2c7;
    }
    .content-block .nav-tabs > li > a:active .progress-bar div span, .content-block .nav-tabs > li > a.active .progress-bar div span, .content-block .nav-tabs > li > a.focus .progress-bar div span, .content-block .nav-tabs > li > a:focus .progress-bar div span{
         background: #3b2b3b;
    }

    @media (hover: hover) {
        .content-block .nav-tabs > li > a:hover {
            background: #3c2b3b;
            border: #3c2b3b;
            color: #c4c2c7;
        }
        .content-block .nav-tabs > li > a:hover .progress-bar div span {
            background: #3b2b3b;
        }
    }
    .mid-sec{
         width: auto;
         height: auto;
         font-size: 15px;
         float: none;
         overflow: auto;
         /*padding: 12% 0 35%;*/
         /*padding: 14% 0 35%;*/
         padding: 50px 0 120px;
         display: block;
         text-align: center;
    }
    .mid-sec h1{
         /*margin-bottom: 30px;*/
         margin-bottom: 5px;
         font-size: 24px;
    }
     .right-sec h5{
         text-transform: capitalize;
         margin-bottom: 5px;
    }
     .right-sec p {
         font-size: 14px;
         margin-top: 0;
    }
     .f-right{
         width: auto;
         height: auto;
         float: none;
         overflow: auto;
         position: relative;
         /*top: -60px;*/
         /*margin-bottom: -60px;*/
         border-radius: 5px 5px 0 0;
         padding: 25px;
         margin: -60px 15px 0;
    }

	.f-right .content-wrapper{
		padding: 0;
	}

     span.accordion-titles {
         font-size: 15px;
    }
     .acc-wrapper {
        margin-top: 0;
      /*   margin-left: -25px;
         margin-right: -25px;*/
    }

    .panel-group .panel-heading + .panel-collapse > .panel-body{
         padding: 5px 25px;
         font-size: 14px; 
    }
    .m-b-40{
         margin-bottom: 40px;
    }
     .f-btn{
         background: #4b384b;
         border-color: #4b384b;
         color: #ffffff !important;
         font-size: 18px;
         line-height: 1.5;
         padding: 10px 43px;
         border-radius: 25px;
         transition-property: background, border;
         transition-duration: 0.5s;
         font-weight: 300;
    }
     .f-btn i{
         padding-left: 5px;
         -webkit-text-stroke: 2px #4b384b;
         transition-property: -webkit-text-stroke;
         transition-duration: 0.5s;
    }
    .f-btn:active, .f-btn:focus, .f-btn.active, .f-btn.focus{
         background: none;
         color: #ffffff;
         border-color: #ffffff;
    }
    @media (hover: hover) {
        .f-btn:hover{
            background: none;
            color: #ffffff;
            border-color: #ffffff;
        }
        .f-btn:hover i{
            -webkit-text-stroke: 2px #bf696e;
        }
    }
     .f-adj-pad{
         padding: 42% 0 65%;
    }
     .f-img{
         display: block;
         margin: 0 auto 40px;
    }
     .f-body h1{
         text-transform: uppercase;
         font-weight: 700;
    }
     .f-body{
         height: 100vh;
         width: 100vw;
         text-align: center;
         padding: 0;
         display: table-cell;
         vertical-align: middle;
    }
     .f-body a.site-branding{
         margin-bottom: 50px;
         clear: both;
         display: inline-block;
    }
     .f-body .content-wrap{
         margin-bottom: 55px;
    }
     .f-body a.btn{
         background: #ffffff;
         border-color: #ffffff;
         text-transform: uppercase;
         color: #4b384b !important;
         font-weight: 700;
    }
     a.f-log{
         display: block;
         margin: 5px 0 0 0;
         font-weight: 700;
         color: #ffffff;
         text-decoration: underline;
    }
     a.f-log::before{
         content: 'or';
         position: relative;
         color: #ffffff;
         padding-right: 5px;
    }
    @media (hover: hover) {
        .f-body a.btn:hover{
            background: #4b384b;
            border-color: #4b384b;
            color: #ffffff !important;
        }
    }
     ul.apps-icons {
         /*margin-bottom: 40px;*/
         margin: 0; 
    }
    /*ul.apps-icons li.active{
        float: left;
        margin: 0 12px 12px 0;
    }*/
     .apps-question i {
         position: relative;
         top: 2px;
    }
     .selling-goods-btns{
         /*margin-bottom: 40px;*/
         margin-bottom: 0;
         margin-top: 5px;
    }
    @media (hover: hover) {
        .selling-goods-btns a.btn:hover{
            color: #bf696e !important;
        }
    }
     form.apps-form {
         margin: 0 auto 0;
        /*width: 80%;
        */
    }
     form.apps-form .form-control{
         text-align: center;
         font-size: 16px;
    }
     form.apps-form label {
         text-transform: capitalize;
         margin-bottom: 10px;
         font-size: 18px;
    }
    form.apps-form .form-group {
    margin-bottom: 31px;
    }

    .step-one a.btn-level-5{
        padding: 4px 24px !important;
    }
    
    .find-web-span {
    float: none;
    padding-right: 0;
    display: block;
    }

    .note{
         top: 0;
         display: block;
         margin-bottom: 40px;
    }
     .home{
         background-size: cover !important;
         background-position: center center !important;
    }
     .home header{
         position: absolute;
         width: 100%;
         left: 0;
         right: 0;
         top: 0;
         background: transparent;
         z-index: 10;
    }
     .f-login-dtls{
         margin-bottom: 100px;
    }
     footer img{
         width: 100px;
    }
     footer a{
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
         z-index: -1;
         -webkit-animation: MoveUpDowns 0.5s linear infinite;
         -webkit-animation-direction: alternate;
         -moz-animation: MoveUpDowns 0.5s linear infinite;
         -moz-animation-direction: alternate;
         -o-animation: MoveUpDowns 0.5s linear infinite;
         -o-animation-direction: alternate;
         animation: MoveUpDowns 0.5s linear infinite;
         animation-direction: normal;
         animation-direction: alternate;
    }
     #c-progress {
         width: 45px;
         height: 45px;
         text-align: center;
         position: relative;
         margin: 0 auto;
    }
     #c-progress img{
         border-radius: 50%;
         background-color: white;
         left: 50%;
         top: 50%;
         transform: translate(-50%,-50%);
         height: 35px;
         width: 35px;
         position: absolute;
    }
     .progress-bar img{
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%,-50%);
         z-index: 10;
         width: 25px;
    }
     .progress .progress-bar div{
         display: none;
    }
     nav.f-head-nav.navbar-inverse{
         position: absolute;
         background-color: transparent;
         border: 0;
    }

    ul.apps-icons li{
    	min-height: 135px;
        width: 30%;
        float: none;
        display: inline-flex;
    }

    ul.apps-icons li:last-child{
        margin-right: 0;
    }

	ul.apps-icons img {
    margin-bottom: 8px;
    width: 25px;
	}

	ul.apps-icons li span {
    font-size: 12px;
	}

	ul.apps-icons li:nth-child(3n){
	margin-right: 0;
	}

     .complete-block-img{
        width: auto;
     }

    .complete-block-img,
    .bottom-block-complete{
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: auto;
    }

    a.back-link i {
    padding-right: 5px;
    }

    a.back-link,
    a.front-link {
    font-size: 15px;
    }

    .alert-head div {
    padding: 10px 0;
    }

    ul.alert-btns li {
    vertical-align: baseline;
    }

    ul.alert-f-links li a {
    font-size: 12px;
    }

    ul.alert-btns {
    margin: 26px 0 55px;
    }
    
    .alert-form p {
    margin-top: 45px;
    padding: 0 15px;
    }

    form.alert-form {
    width: 85%;
    margin: 18px auto 40px;
    }

    .apps-social-media {
    margin: 20px 15px 50px;
    }

    ul.alert-brands-colors {
    margin: 14px 15px 0px;
    }

    .btn-wrap {
    margin-top: 40px;
    }

    .news-events-wrap {
    margin-top: 20px;   
    }

    .re-captcha div{
        margin: 0 auto;
        width: 291px !important;
    }

}

@media only screen and (max-width: 480px){
    
    ul.apps-icons li {
    width: 47%;
    }

    ul.apps-icons li:nth-child(3n) {
    margin: 0 12px 12px 0;
    }

    ul.apps-icons li:nth-child(2n) {
    margin-right: 0;
    }

    ul.alert-btns li .upload-button,
    ul.alert-btns li a, .alert-btns select {
    font-size: 8px !important;
    }

    ul.alert-btns li .upload-btn-wrapper .upload-button{
    padding: 8px 32px;
    }

    ul.alert-btns li:first-child {
    padding-right: 8px;
    }
}

@media only screen and (max-width: 360px){
    .news-block img {
    max-width: 70px;
    }

    .news-block h6, .news-block h5, .news-block ul {
    padding-left: 90px;
    }
}

 